body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  min-height: 80vh;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.6rem 0;
}

form div {
  margin-bottom: 10px;
}

button.btn + .btn {
  margin-left: 10px;
}

.nav-item.active {
  background-color: #ccc
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 500px;
  padding: 30px;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}

@media (max-width: 900px) {
  .carousel img {
    height: auto;
  }

  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

/* styles.css */

.filter-container {
  margin: 20px;
}

label {
  font-size: 16px;
  margin-right: 10px;
}

.range-container {
  position: relative;
}

.range-connector {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #4CAF50;
  transform-origin: 0 0;
  transform: translateY(-50%);
  z-index: 1;
}

input[type="range"] {
  width: calc(100% - 20px);
  margin: 10px 0;
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
  position: relative;
  z-index: 2;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.range-values {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #fff !important;
}